<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>{% block title %}{% endblock title %}</title>
  {% block css %}

{% comment %} css for dropdown {% endcomment %}
<style>

.dropbtn {
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}


</style>
  {% endblock css %}
</head>

<body>
    {% comment %} navbar after login {% endcomment %}
   {% if request.session.email %}
    <div class="">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href=".#" class="navbar-brand">
                Fit Bud
              </a>
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
             <b> <a href="#" class="nav-item nav-link active">{% for i in username %}{{i.firstname}} {{i.lastname}}{% endfor %}</a></b>
              <a href="../profile" class="nav-item nav-link active">profile</a>
            <div class="dropdown" >
                <button  class = "btn btn-dark" >facility</button>
                <div class="dropdown-content">
                  <a href="../meal">healthy meal</a>
                  <a href="../injury">injury recover</a>
                
                </div>
              </div>
             
              <a href="../feed" class="nav-item nav-link active">feedback</a>
              <a href="../calc" class="nav-item nav-link active">
                calorie calculator
              </a>
            </div>
            <div class="navbar-nav ms-auto">
  
              <form class="d-flex" action='{% url 'logout' %}'>
                <input type="submit" value='logout' class="btn btn-dark">
              </form>
            </div>
            {% else %} 
            {% comment %} navbar beafore login {% endcomment %}
          <div class="">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div class="container-fluid">
                <a href=".#" class="navbar-brand">
                  Fit Bud
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                  <div class="navbar-nav">
                    <a href="../home" class="nav-item nav-link active">Home</a>
                  
                    <div class="dropdown" >
                        <button  class = "btn btn-dark">sports</button>
                        <div class="dropdown-content">
                          <a href="../cricket">cricket</a>
                          <a href="../football">football</a>
                          <a href="../basketball">basketball</a>
                          <a href="../hockey">hockey</a>
                        
                        </div>
                      </div>
                    <a href="../contactus" class="nav-item nav-link active">contactUs</a>
                    <a href="../feedback1" class="nav-item nav-link active">feedback</a>
                   
                  </div>
                  <div class="navbar-nav ms-auto">
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#login">
                      login
                    </button>

                    <div class="modal fade" id="login" tabindex="-1" aria-labelledby="login" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="login">login</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">

                            <div style="float:right;margin-right:100px;padding:20px;border: 20px solid grey;">
                              <h2>login form</h2>
                              <form action={% url 'login' %} method="POST">
                                {% csrf_token %} 
                                <form action="">
                                <label for="">email:</label>
                                <div class="col">
                                  <input type="text" class="form-control" name="email" placeholder="email"
                                    aria-label="email" Required>
                                </div>
                                <label for="">password:</label>
                                <div class="col">
                                  <input type="password" class="form-control" name="password" placeholder="password"
                                    aria-label="password" Required>
                                </div>



                         

                          </div>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <input type="submit" value="login" class="btn btn-secondary">
                        </div>
                      </div>
                    </div>
                  </div>
                  </form>


                  <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#signUp">
                    signUp
                  </button>

                  <div class="modal fade" id="signUp" tabindex="-1" aria-labelledby="signUp" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="signUp">signUp</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div style="float:right;margin-right:80px;padding:20px;border: 20px solid grey;">
                            <center>
                              <h2>Registration form </h2>
                            </center>
                            <form action={% url 'register' %} method="POST">
                                {% csrf_token %}
                              
                                <label for="">Name:</label>
                                <div class="row">
                                  <div class="col">
                                    <input type="text" class="form-control" name="fname" placeholder="First name"
                                      aria-label="First name">
                                  </div>
                                  <div class="col">
                                    <input type="text" class="form-control" name="lname" placeholder="Last name"
                                      aria-label="Last name">
                                  </div>
                                  <label for="">email</label>
                                  <div class="col">
                                    <input type="email" class="form-control" name="email" placeholder="email"
                                      aria-label="email" Required>
                                  </div>
                                  <label for="">password</label>
                                  <div class="col">
                                    <input type="password" class="form-control" name="password" placeholder="password"
                                      aria-label="password" Required>
                                  </div>
                                  <label for="">Gender:</label>
                                  <div class="col">
                                    <input type="radio" name="gender" value="male">male
                                    <input type="radio" name="gender" value="female">female
                                  </div>
                                  <label for="">Select sport</label>
                                  <select name="sports" id="sports" >
                                    <option value="select sports" selected="selected" disabled>sports</option>
                                    <option name="sports" value="cricket">cricket</option>
                                    <option name="sports" value="hockey">hockey</option>
                                    <option name="sports" value="football">football</option>
                                    <option name="sports" value="basketball">basketball</option>
                                    </select>
                                </div>

                              </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-secondary" value="submit">
                          </div>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  {% endif %} 
            </nav>
          </div>

    
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

        
          {% block content %}{% endblock content %}
          {% block script %}{% endblock script %}
          <footer>{% block footer %}{% endblock footer %}</footer>
</body>

</html>