{% extends "base.html" %}
{% block title %}
profile
{% endblock title %}
{% block content %}
<div class="mydiv">
    <table class="table ">
        <thead class="thead-dark">
            <tr>
                <th scope="col-2">{% for i in username %}{{i.firstname}} {{i.lastname}}{% endfor %} Profile</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>Firstname</td>
                <td class="col-10">{% for i in username %}
                    {{i.firstname}}
                    {% endfor %}
                </td>

            </tr>
            <tr>

                <td>Lastname</td>
                <td>{% for i in username %}
                    {{i.lastname}}
                    {% endfor %}
                </td>
            </tr>
            <tr>

                <td>email</td>
                <td>{% for i in username %}
                    {{i.email}}
                    {% endfor %}
                </td>
            </tr>
            <tr>

                <td>password</td>
                <td>{% for i in username %}
                    {{i.passw}}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>{% for i in username %}
                    {{i.gender}}
                    {% endfor %}
                </td>
            </tr>
            <tr>

                <td>sport.</td>
                <td>{% for i in username %}
                    {{i.sport}}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock content %}

